anyio==3.5.0
asgiref==3.5.0
click==8.1.2
colorama==0.4.4
fastapi==0.75.1
fastapi-mqtt==0.4.0
gmqtt==0.6.11
h11==0.13.0
idna==3.3
Jinja2==3.1.1
MarkupSafe==2.1.1
numpy==1.22.3
opencv-python==4.5.5.64
paho-mqtt==1.6.1
pandas==1.4.2
pydantic==1.9.0
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2022.1
pyzbar==0.1.9
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.17.6
