<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="navbar">
        <div class="container">
            <a href="main.html">Gefco</a>
            <img id="mobile-cta" class="mobile-menu" src="images/menu.svg" alt="Open navigation">
            <nav>
                <ul class="primary-nav">
                    <li class="current"><a href="#">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>

                <ul class="secondary-nav">
                    <li><a href="#">Contact</a></li>
                    <li class="go-premium-cta"><a href="#">Go Premium</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>